<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="loggers.xml"/>

    <!--Тут происходит инжект зависимости в класс App c помощью атриб "ref"-->
    <bean id="app" class="App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>
    </bean>

    <bean id="client" class="Beans.Client">
        <constructor-arg type="java.lang.String" value="1"/>
        <constructor-arg type="java.lang.String" value="John Smith"/>
    </bean>

    <bean id="event" class="Beans.Event" scope="prototype">
        <constructor-arg>
            <!--Тип первого аргумента конструктора - Date -->
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat"
          factory-method="getDateTimeInstance"/>

    <!--<bean id="client" class="Beans.Client">
        <constructor-arg index="0" value=""/>
        <constructor-arg index="1" value=""/>
    </bean>
    <bean id="eventLogger" class="Loggers.ConsoleEventLogger"/>
    <bean id="app" class="App">
        <constructor-arg index="0" ref="client"/>
        <constructor-arg index="1" ref=""/>
    </bean>-->
</beans>