<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="client" class="Client">
        <constructor-arg type="java.lang.String" value="1"/>
        <constructor-arg type="java.lang.String" value="John Smith"/>
    </bean>
    <!--Тут происходит инжект зависимости в класс App c помощью атриб "ref"-->
    <bean id="app" class="App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>
    </bean>

    <bean id="eventLogger" class="Loggers.ConsoleEventLogger" />

    <!--<bean id="client" class="Client">
        <constructor-arg index="0" value=""/>
        <constructor-arg index="1" value=""/>
    </bean>

    <bean id="eventLogger" class="Loggers.ConsoleEventLogger"/>

    <bean id="app" class="App">
        <constructor-arg index="0" ref="client"/>
        <constructor-arg index="1" ref=""/>
    </bean>-->

</beans>